# Multi-Agent Research System Configuration

# To separate your traces from other application
LANGSMITH_PROJECT=magic-research
# LANGSMITH_TRACING=true
# LANGSMITH_API_KEY=xxx

# Add API keys for connecting to LLM providers, data sources, and other integrations here
OPENAI_API_KEY=xxx

# JINA_API_KEY
JINA_API_KEY=xxx